@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,900;1,400;1,500&family=Lora:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sectionAD {
    background-color: $color-general;
    height: 800px;

    h1{
        margin-left: 60px;
        font-size: 110px;
        font-family: $font-uno;
        font-weight: 900;
    }

    p{
        margin-top: 50px;
        margin-left: 450px;
        margin-right: 50px;
        font-size: 20px;
        font-family: $font-dos;
        font-weight: 400;
    }
}

.carrusel {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 48px;
        font-family: $font-uno;
        font-weight: 700; 
        margin-bottom: 10px; 
    }

    .contenedor {
        height: 600px;
        width: 600px;
        background-color: $color-header;
        border-radius: 10px;
        box-shadow: 5px rgba(44, 44, 44, 0.792);


    .carousel{
        height: 500px;
        width: 500px;
        margin: 30px;
        align-items: center;
        padding: 50px;

        h5 {
            font-family: $font-dos;
            margin-bottom: 100px;
        }
    }  
} 

}

@media (max-width: 1000px) {
    .sectionAD {
       
        height: 800px;
    
        h1{
            margin-left: 20px;
            font-size: 90px;
          
        }
    
        p{
            
            margin-left: 20px;
        }
    }
}

@media (max-width: 820px) {
    .sectionAD {
       
        height: 800px;
    
        h1{
            margin-left: 20px;
            font-size: 90px;
          
        }
    
        p{
            
            margin-left: 20px;
        }
    }
}

@media (max-width: 820px) {
    .sectionAD {
       
        height: 800px;
    
        h1{
            margin-left: 20px;
            font-size: 90px;
          
        }
    
        p{
            font-size: 15px;
            margin-left: 20px;
        }
    }
}