*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: $color-header;
    height: 80px;
    width: 100%;
    text-decoration: none;
    list-style: none;
    font-family: 'Lora',serif;

    nav {
        
        .checkbtn{
            font-size: 20px;
            color: $color-texto;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            // display: none;
        }

        #check {
            display: none;
        }

        .enlace{
            position: absolute;
            padding: 20px 50px;

            img{
                height: 40px;
            }
        }

        
        ul {
            float: right;
            margin-right: 20px;

            li{
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;

                a{
                    text-decoration: none;
                    color: $color-texto;
                    font-weight: 600;
                    font-size: 15px;
                    padding: 7px 13px;
                    border-radius: 3px;

                    &:hover {
                        background-color: $color-texto;
                        color: $color-general;
                    }
                }
                
            }
        }

    }

}

@media (max-width: 952px) {
    nav {

    .enlace{
        padding-left: 20px;
    }

    ul {
        li{
            a{
             font-size: 13px;   
            }
        }
    }

    }

}

@media (max-width: 858px) {
    nav{
        .checkbtn{
            display: block;
        }

        #check{
            &:checked ~ ul {
                left: 0;
            }
        }

        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: $color-general;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            
            li{
                display: block;
                margin: 50px 0;
                line-height: 30px;

                a{
                    font-size: 20px;
                    color: $color-general ;
                    
                    &:hover{
                        background: none;
                    }
                }
            }
        }
    }
}


