@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,900;1,400;1,500&family=Lora:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sectionS1{
    background-color: $color-general;
    height: 300px;

    h1{
        margin-left: 60px;
        font-size: 90px;
        font-family: $font-uno;
        font-weight: 900;
    }

    p{
        margin-top: 50px;
        margin-left: 450px;
        margin-right: 50px;
        font-size: 20px;
        font-family: $font-dos;
        font-weight: 400;

    }

}

.sectionS2{
    height: 300px;

    h2{
        margin-left: 450px;
        margin-top: 90px;
        font-size: 48px;
        font-family: $font-uno;
        font-weight: 900;
    }

    p{
        margin-top: 50px;
        margin-left: 450px;
        margin-right: 50px;
        font-size: 16px;
        font-family: $font-dos;
        font-weight: 400;

    }

}

@media (max-width: 820px) {
    .sectionS1{
        height: 500px;
    
        h1{
            font-size: 70px;
            margin-left: 10px;
        }
    
        p{
            margin-top: 50px;
            margin-left: 20px;
        
    
        }
    
    }
    .sectionS2{
        height: 300px;
    
        h2{
            margin-left: 10px;
            margin-top: 10px;
        }
    
        p{
            margin-left: 10px;
    
        }
    
    }
}