
// variables

$color-header: #ececec;
$color-texto: black;
$color-general: #f5f5f5;
$font-uno: 'Lora', serif;
$font-dos: 'Hanken Grotesk', sans-serif;

@import "../Scss/_header.scss";

@import "../Scss/_index.scss";

@import "../Scss/_fotogaleria.scss";

@import "../Scss/_acercade.scss";

@import "../Scss/_servicios.scss";

@import "../Scss/_contacto.scss";

@import "../Scss/footer.scss";







