@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,900;1,400;1,500&family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,900;1,400;1,500&family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,900;1,400;1,500&family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,900;1,400;1,500&family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,900;1,400;1,500&family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,900;1,400;1,500&family=Lora:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #ececec;
  height: 80px;
  width: 100%;
  text-decoration: none;
  list-style: none;
  font-family: "Lora", serif;
}
header nav .checkbtn {
  font-size: 20px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
header nav #check {
  display: none;
}
header nav .enlace {
  position: absolute;
  padding: 20px 50px;
}
header nav .enlace img {
  height: 40px;
}
header nav ul {
  float: right;
  margin-right: 20px;
}
header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
}
header nav ul li a:hover {
  background-color: black;
  color: #f5f5f5;
}

@media (max-width: 952px) {
  nav .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 13px;
  }
}
@media (max-width: 858px) {
  nav .checkbtn {
    display: block;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: #f5f5f5;
  }
  nav ul li a:hover {
    background: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: #F5F5F5;
  height: 605px;
  margin-bottom: 85px;
  display: flex;
  justify-content: space-between;
}
main .texto {
  font-family: "Hanken Grotesk", sans-serif;
  margin-left: 64px;
}
main .texto h1 {
  margin-top: 120px;
  font-size: 120px;
  font-weight: 900;
  height: auto;
  width: 40%;
  line-height: 0.85;
}
main .texto h1:hover {
  animation: text-pop-up-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: #ececec;
}
@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    opacity: 0%;
    text-shadow: none;
  }
  50% {
    opacity: 50%;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    opacity: 100%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
main .texto h1 span {
  font-size: 80px;
}
main .texto p {
  display: block;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400;
  height: 40%;
  width: 400px;
  top: 550px;
}
main .portada img {
  display: block;
  height: 605px;
  width: auto;
}

@media (max-width: 1200px) {
  main {
    height: 450px;
  }
  main .texto h1 {
    font-size: 90px;
    width: 30%;
  }
  main .portada img {
    height: 450px;
    width: auto;
  }
}
@media (max-width: 820px) {
  main {
    height: 450px;
    justify-content: center;
    align-items: center;
  }
  main .texto h1 {
    text-align: center;
  }
  main .portada {
    display: none;
  }
}
.secI {
  height: 1200px;
}
.secI .afiches {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px 0;
}
.secI .afiches a {
  text-decoration: none;
}
.secI .afiches a p {
  text-align: center;
  color: black;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 25px;
  font-weight: 600;
  flex-wrap: wrap;
  width: 320px;
  height: 400px;
  margin: 10px 0;
}
.secI .afiches a:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  margin: 15px 0;
  bottom: -90px;
  transition: 0.3s;
}
.secI .afiches a:hover:after {
  width: 320px;
}
.secI .afiches img {
  flex-wrap: wrap;
  width: 320px;
  height: 400px;
  margin: 10px 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Mfg {
  height: 160px;
  background-color: #f5f5f5;
}
.Mfg h1 {
  margin-left: 40%;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  font-family: "Lora", serif;
  line-height: 160px;
}

.secfg {
  height: 1800px;
}
.secfg .galeriafg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px 0;
}
.secfg .galeriafg img {
  flex-wrap: wrap;
  width: 320px;
  height: 400px;
  margin: 10px 0;
  border-radius: 10px;
}
.secfg .galeriafg img:hover {
  background-color: rgba(78, 77, 77, 0.405);
  animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}

@media (max-width: 820px) {
  .secfg {
    height: 2000px;
  }
}
@media (max-width: 320px) {
  secfg {
    height: 10000px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sectionAD {
  background-color: #f5f5f5;
  height: 800px;
}
.sectionAD h1 {
  margin-left: 60px;
  font-size: 110px;
  font-family: "Lora", serif;
  font-weight: 900;
}
.sectionAD p {
  margin-top: 50px;
  margin-left: 450px;
  margin-right: 50px;
  font-size: 20px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
}

.carrusel {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carrusel h2 {
  font-size: 48px;
  font-family: "Lora", serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.carrusel .contenedor {
  height: 600px;
  width: 600px;
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: 5px rgba(44, 44, 44, 0.792);
}
.carrusel .contenedor .carousel {
  height: 500px;
  width: 500px;
  margin: 30px;
  align-items: center;
  padding: 50px;
}
.carrusel .contenedor .carousel h5 {
  font-family: "Hanken Grotesk", sans-serif;
  margin-bottom: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sectionS1 {
  background-color: #f5f5f5;
  height: 300px;
}
.sectionS1 h1 {
  margin-left: 60px;
  font-size: 90px;
  font-family: "Lora", serif;
  font-weight: 900;
}
.sectionS1 p {
  margin-top: 50px;
  margin-left: 450px;
  margin-right: 50px;
  font-size: 20px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
}

.sectionS2 {
  height: 300px;
}
.sectionS2 h2 {
  margin-left: 450px;
  margin-top: 90px;
  font-size: 48px;
  font-family: "Lora", serif;
  font-weight: 900;
}
.sectionS2 p {
  margin-top: 50px;
  margin-left: 450px;
  margin-right: 50px;
  font-size: 16px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
}

@media (max-width: 820px) {
  .sectionS1 {
    height: 500px;
  }
  .sectionS1 h1 {
    font-size: 70px;
    margin-left: 10px;
  }
  .sectionS1 p {
    margin-top: 50px;
    margin-left: 20px;
  }
  .sectionS2 {
    height: 300px;
  }
  .sectionS2 h2 {
    margin-left: 10px;
    margin-top: 10px;
  }
  .sectionS2 p {
    margin-left: 10px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Mcontacto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  width: 100%;
  height: 1000px;
}
.Mcontacto .contenedor .item {
  width: 100%;
  height: 920px;
  max-width: 820px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}
.Mcontacto .contenedor .item .contacto {
  color: #f5f5f5;
}
.Mcontacto .contenedor .item .contacto .textoC {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 35px;
  font-family: "Lora", serif;
}
.Mcontacto .contenedor .item .formulario {
  color: #f5f5f5;
}
.Mcontacto .contenedor .item .formulario h2 {
  display: none;
}
.Mcontacto .contenedor .item .formulario form {
  padding: 0 50px;
  height: 100%;
  width: 100%;
  font-family: "Hanken Grotesk", sans-serif;
}
.Mcontacto .contenedor .item .formulario form .input-box {
  height: 40px;
  width: 200px;
  margin: 30px 0;
  position: relative;
}
.Mcontacto .contenedor .item .formulario form .input-box input {
  color: #f5f5f5;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}
.Mcontacto .contenedor .item .formulario form .input-box input:focus {
  border: 3px solid #f5f5f5;
}
.Mcontacto .contenedor .item .formulario form .textarea {
  margin-top: 30px;
  padding: 30px 10px;
}
.Mcontacto .contenedor .item .formulario form .textarea textarea {
  background: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 20px;
  outline: none;
  color: #f5f5f5;
}
.Mcontacto .contenedor .item .formulario form .textarea textarea:focus {
  border: 3px solid #f5f5f5;
}
.Mcontacto .contenedor .item .formulario form input[type=submit] {
  position: relative;
  width: 35%;
  background: transparent;
  border: 3px solid #ececec;
  border-radius: 20px;
  font-family: "Hanken Grotesk", sans-serif;
  color: #f5f5f5;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.Mcontacto .contenedor .item .formulario form input[type=submit]:hover {
  background-color: #ececec;
  color: black;
  font-weight: 700;
}

@media (max-width: 850px) {
  main .contenedor .item {
    grid-template-columns: 1fr;
  }
  main .contenedor .contacto {
    display: none;
  }
  main .contenedor .contacto .textoC {
    display: none;
  }
  main .contenedor .formulario h2 {
    display: block;
    text-align: center;
    padding: 10px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pie-pagina {
  width: 100%;
  background-color: black;
}
.pie-pagina .grupo-1 {
  width: 100px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box {
  width: 250px;
  margin-left: 160px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 160px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #f5f5f5;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: "Hanken Grotesk", sans-serif;
}
.pie-pagina .grupo-1 .box p {
  color: #ececec;
  margin-bottom: 10px;
  font-family: "Hanken Grotesk", sans-serif;
}
.pie-pagina .grupo-1 .box .red-social {
  display: inline-block;
  text-decoration: none;
}
.pie-pagina .grupo-1 .box .red-social a i {
  color: #f5f5f5;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  text-align: center;
}

@media (max-width: 820px) {
  .pie-pagina .grupo-1 {
    max-width: 820px;
  }
  .pie-pagina .grupo-1 .box {
    margin-left: 35px;
    width: 120px;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 80px;
  }
  .pie-pagina .grupo-1 .box h2 {
    font-size: 15px;
  }
  .pie-pagina .grupo-1 .box p {
    font-size: 10px;
  }
  .pie-pagina .grupo-1 .box .red-social {
    margin-left: 10px;
  }
}
@media (max-width: 600px) {
  .pie-pagina .grupo-1 .box {
    width: 100px;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 60px;
    margin-left: 20px;
  }
  .pie-pagina .grupo-1 .box h2 {
    display: none;
  }
  .pie-pagina .grupo-1 .box p {
    display: none;
  }
  .pie-pagina .grupo-1 .box .red-social {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
